{% extends 'base.html' %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    <h3 class="m-b-xs"><strong>CUSTOMER</strong></h3>
        
                    <div class="font-bold">create account as customer</div>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <!-- <button type="button" class="btn btn-primary">create account</button> -->
                        <a class="btn btn-primary" href="{% url 'Signupc' %}" role="button">Create Account</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                    <h3 class="m-b-xs"><strong>FARMER</strong></h3>
        
                    <div class="font-bold">create account as farmer</div>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-primary" href="{% url 'Signupf' %}" role="button">Create Account</a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                    <h3 class="m-b-xs"><strong>WORKER</strong></h3>
        
                    <div class="font-bold">create account as worker</div>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <!-- <button type="button" class="btn btn-primary"><a href="{% url 'Signupw' %}" class="btn btn-lg btn-primary">Create Account</a></button> -->
                        <a class="btn btn-primary" href="{% url 'Signupw' %}" role="button">Create Account</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

{% endblock %}